/***
 * This was the original style sheet for the site and has been added to
 *    (it probably needs to be cleaned up)
 */

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font: 100%/80% Arial, Helvetica, sans-serif;
}

div.message {
	border: 2px solid orange;
	color: blue; font-weight: bold;
	width: 40%;
	margin: 1em 0 ; padding: 1em;
}

div.error {
	border: 2px solid #8D0D19;
	width: 40%;
	color: #8D0D19; font-weight: bold;
	margin: 1em 0 ; padding: 1em;
}

BODY {
	font:10pt/12pt Arial, Helvetica, sans-serif;
	background-color: #00ff80;
}

div.title {
	line-height: 200%;
}

div section.container div.location h2 {
	position: relative;
	color: #DAA520;
	clear: both;
	background: #9400D3;
}

div section.container div.location {
	margin-top: 5%;
}


div section.container div.location {
	padding-left: 1%;
}

div section.container {
	position: absolute;
	width: 100%;
}

div section.container div.accomodation {
	position: relative;
	clear: both;
	border: solid 1px;
	padding: 1%;
	margin-left: 1%;
}

div section.container div.accomodation img {
	float: right;
	position: relative;
	width: 40%;
}

H2 {
	font : bold 18pt/20pt Arial, Helvetica, sans-serif;
}
H3 {
	font : bold 15pt/17pt Arial, Helvetica, sans-serif;
}
.questParenthet {
	font : 10pt/12pt Arial, Helvetica, sans-serif;
}
.questCateg {
	font : 13pt/15pt Arial, Helvetica, sans-serif;
}
p {
	font : normal 110%/130% Arial, Helvetica, sans-serif;
}
p.introQuest {
	font : bold 12pt/12pt Arial, Helvetica, sans-serif;
}

.qnaireQuest{
	font: normal 10pt/12pt Arial, Helvetica, sans-serif;
}

.poem{
	font: italic 10pt/12pt Arial, Helvetica, sans-serif;
}

.capitonPic{
	font: normal 9pt/10pt Arial, Helvetica, sans-serif;
}

nav.leftside {
    float:left;
    width: 120px;
    border: 5px groove red;
    margin: 5px;
}

nav.leftside ul {
    list-style-type: none;
}

nav.leftside ul li {

}

h3.listTitle{
	font : bold 16pt/20pt Arial, Helvetica, sans-serif;
	padding: 1em;
}

.dishes{
	list-style-type: none;

}

content {
    border: 3px dashed green;
    padding: 4px;
    margin: 2px;
    float: left;
}

footer {
    clear: both;
}

table tr td.submitButton {
    text-align: center;
}
