/*global styles - don't change */
/*aside, article, section, header, footer, nav{
 * 	display:block;
 * }
 */

/* probably don't need these since I'm using Normalize.css 
html, body{
	margin: 0;
	padding: 0; 
}
*/

html{
}

body {
	background-color: #FFFF00;
	max-width: 1024px;
	min-width: 640px;
	font: 100% 'Paddington LT W01', 'Combo', cursive;
}


/* mobile styles */
@media only screen and (max-width: 480px){
	body{
		width: 320px;
	}
}

/* tablet styles */
@media only screen and (min-width: 481px) and (max-width: 768px){
	body{
		width: 80%;
	}
}

/* desktop styles */
@media only screenand (min-width: 769px){
	body{
		width: 700px;
	}
}

@media only screen and (min-width: 25em) {
		body{font-size: 140%;}
}

@media only screen and (min-width: 700px) {
	body{font-size: 180%}
}

/* style that change */
section.container {
	background-color: rgb(237,228,214);
	margin: 2%;
	height:98%;
	min-height: 30em;
	position: relative;
}

section.container img {
	position:absolute;
	top: 0;
	left: 0;
	max-width: 80%;
	border:#000000 solid 30%;
}

.container {
	position: relative;
}

section.container div.inviteText {
	position: absolute;
	top: 2.8%;
	left: 18%;	
}

div.inviteText h1.sufruct {
	font: bold 110%/400% 'Paddington LT W01', 'Combo', cursive;
	margin-left: 45%;
	text-align:center;
}

div.inviteText H2 {
	font: bold 80%/50% 'Paddington LT W01', 'Combo', cursive;
	margin-left: 20%;
	text-align:center;
}

div.inviteText H3 {
	font: normal 70%/20% 'Paddington LT W01', 'Combo', cursive;
	margin-left: 20%;
	text-align:center;
}

section.container div.inviteText p {
	font: normal .5em/.3em 'Paddington LT W01', 'Combo', cursive;
	margin-left: 20%;
	text-align:center;
}

section.container div.inviteText p.spacer{
	line-height: 40%;
}

/*section.container div.inviteText p.endSection {
	font: normal .9em/.5em 'Paddington LT W01', 'Combo', cursive;
	margin-left: 3em;
	text-align:center;
}*/

footer {
	clear: both;
}

/*
 * 
font-family:'Paddington LT W01';
 */


